non-patio/*
tmp/*
faces/*
rnd/*
rnd-preconvert/*
patio/*
faces64/*
faces64_edge/*
faces64_gray/*
faces-np/*
faces-np64/*
faces-nf/
faces-np2/*
faces-np264/*
faces-np64_edge/*
faces-np64_gray/*
faces-rnd/*
faces-rnd64/*
target/*
mydata/faces-np64
mydata/faces-np264
goods/*
bads/*
